body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #333;
    text-align: center;
    padding: 20px;
  }
  
  form {
    background-color: #ffffff;
    padding: 20px;
    margin: auto;
    border: 1px solid #ccc;
    width: 300px;
    height: auto;
    border-radius: 8px;
  }
  
  input, select {
    margin: 5px 5px;
    width: 90%;
    padding: 10px;
    font-size: 14px;
  }

  button {
    margin: 5px 5px;
    width: 90%;
    padding: 10px;
    font-size: 14px;
    color: #000000;
    background-color: #12ff0a;
    border-color: #12ff0a ;
  }
  
  